<main class="album-view container narrow">
  <section class="clearfix">
    <div class="column half">
      <img src="../assets/album_covers/01.png" class="album-cover-art">
    </div>
    <div class="album-view-details column half">
      <h2 class="album-view-title">{{albums.name}}</h2>
      <h3 class="album-view-artist">{{albums.artist}}</h3>
      <h5 class="album-view-release-info">{{albums.label}}  {{albums.year}}</h5>
    </div>
  </section>
<table class="album-view-song-list" >
    <tr ng-repeat ="song in albums.songs" ng-init="player.playing=false" ng-click="getSong(song)">
       <td>{{$index+1}}</td>
       <td>{{song.name}}</td>
       <td>{{song.length|Time}} min</td>    
    </tr>
</table>
</main>
<section class="player-bar">
  <div class="container">
    <div class="control-group main-controls" ng-init="player.playing=false">
    <a class="previous" ng-click="player.previousSong()">
      <span class="ion-skip-backward"></span>
    </a>
    <a class="play-pause" ng-show="!player.playing" ng-click="player.play()">
      <span class="ion-play"></span>
    </a>
    <a class="play-pause" ng-show="player.playing" ng-click="player.stop()">
    <span class="ion-pause"></span>
    </a>
    <a class="next" ng-click="player.nextSong()">
      <span class="ion-skip-forward"></span>
    </a>
    </div>
    <div class="control-group currently-playing" ng-init="player.isplaying=0">
      <h2 class="song-name">{{songName}}</h2>
      <h2 class="artist-song-mobile"></h2>
      <h3 class="artist-name">{{albums.artist}}</h3>
      <div class="seek-control">
        <slider player='player' audio='audio' 
                class="seek-bar">
        </slider>
        <div class="total-time">{{songTime}}</div>
      </div>
    </div>
    <div class="control-group volume">
      <span class="ion-volume-high icon"></span>
      <volume class="seek-bar" player='player' audio='audio'>
      <div class="fill"></div>
      <div class="thumb"></div>
      </volume>
    </div>
  </div>
</section>
